.container{
    display: grid;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rain-bg{
    background-color: #393a41;
}

.sun-bg{
    background-color: #bde0fe;
}

.snow-bg{
    background-color: #e8e9eb;
    animation: rainToSnow 1s ease-in-out;
}

.flash-bg{
    background-color: #e8e9eb;
}

@keyframes rainToSnow {
    0% {
        background-color: #bde0fe;
    }
    100% {
        background-color: #e8e9eb;
    }
}