.container{
    display: grid;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rain-bg{
    background-color: #393a41;
}

.sun-bg{
    background-color: #bde0fe;
}